/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

h1, h2, p, a {
    color: #333;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #fff;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

form {
    max-width: 400px;
    margin: 0 auto;
}